@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(38, 39, 39);
    text-align: center;
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-decoration: none;
}
nav {
    line-height: 80px;
    text-align: right;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    position: fixed;
}
nav a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}
.top {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}
.btn {
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 17, 255);
    padding: 20px 60px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover {
    border-radius: 10px;
    box-shadow: 0em 0em  1em rgb(212, 0, 255);
    background-color: rgb(212, 0, 255);
    font-size: 16px;
}
.x {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}
.technologies {
    margin-top: 100px;
}
.line {
    border-bottom: 5px solid rgb(92, 92, 92);
    width: 300px;
    margin: auto;
    height: 60px;
}
.square{
    width: 530px;
    height: 220px;
    background-color: rgb(92, 92, 92);
    border-radius: 20px;
    display:inline-block;
    margin: 10px;
    transition: all 0.5s;
}
.square:hover {
    border-radius: 30px;
    width: 540px;
    height: 230px;
    transform: perspective(1500px) rotateY(15deg) rotateX(25deg);
    box-shadow: 0em 0em 0.5em white;
}
@keyframes a {
    0%   {transform: perspective(1500px) rotateY(30deg) rotateX(0deg);}
    50%  {transform: perspective(1500px) rotateY(0deg) rotateX(20deg) rotateZ(0deg);}
    100% {transform: perspective(1500px) rotateY(30deg) rotateX(0deg);}
}
footer {
    width: 100%;
    bottom: 0;
    font-size: 15px;
}
.logo {
    animation: a 6.5s infinite;
    margin: 10px;
}
@media screen and (min-width:360px) and (max-width:640px) {
    .square {
        width: 300px;
        height: 240px;
    }
    .btn {
       margin: 5px;
       padding: 20px 20px;
    }
    .nav {
        text-align: center;
    }
    .square:hover {
        width: 240px;
        height: 330px;
        transform: perspective(1500px) rotateY(15deg) rotateX(25deg);
        box-shadow: 0em 0em 0.5em white;
    }
}
@media (max-width: 360px) {
    .square {
        width: 300px;
        height: 240px;
    }
    .btn {
       margin: 5px;
       padding: 20px 20px;
    }
    .nav {
        text-align: center;
    }
    .square:hover {
        width: 240px;
        height: 330px;
        transform: perspective(1500px) rotateY(15deg) rotateX(25deg);
        box-shadow: 0em 0em 0.5em white;
    }
}
